<div class="content">
    <section id="jogo">
        <h2>Pense em uma palavra e eu irei adivinha-la.</h2>
        <p>Seja Sincero, se puder anote a palavra em algum local.</p>
        <p>Eu lhe direi uma palavra e você me responde de acordo:</p>
        <p>Passou Perto! = A palavra que eu disser tem alguma relação com a palavra que você pensou.</p>
        <p>Passou Longe! = A palavra que eu disser não está relacionada com a palavra que você pensou.</p>
        <p>Acertou! = O Jogo acaba e eu informo com quantas tentativas eu acertei.</p>
        <div id="loader"></div>
        <h1 id="resultados-pesquisa"></h1>
        <button onclick="adivinhar()" id="iniciar">Iniciar</button>
    </section>
</div>