<div class="content">
    <section id="jogo">
        <h2>Pense em uma palavra e eu irei adivinha-la.</h2>
        <h4>Seja Sincero, se puder anote a palavra em algum local.</h4>
        <h4>Eu lhe direi uma palavra e você me responde de acordo:</h4>
        <h4>Passou Perto! = A palavra que eu disser tem alguma relação com a palavra que você pensou.</h4>
        <h4>Passou Longe! = A palavra que eu disser não está relacionada com a palavra que você pensou.</h4>
        <h4>Acertou! = O Jogo acaba e eu informo com quantas tentativas eu acertei.</h4>
        <h1 id="resultados-pesquisa"></h1>
        <button onclick="adivinhar()" id="iniciar">Iniciar</button>
    </section>
</div>