<div class="content">
    <h2>Sobre</h2>
    <h3>Leonardo Maia</h3>
    <div class="links">
        <a href="mailto:leonardojgmaia@gmail.com" target="_blank" title="E-mail"><i class="fa-regular fa-envelope icon-link"></i></a>
        <a href="https://github.com/leonardojgm" target="_blank" title="GitHub"><i class="fa-brands fa-github icon-link"></i></a>
        <a href="https://www.linkedin.com/in/leonardo-maia" target="_blank" title="Linkdin"><i class="fa-brands fa-linkedin icon-link"></i></a>
    </div>
</div>
